body{
    box-sizing: border-box;
    background-color:lightgray;
}

.h2{
    text-align: center;
    font-weight: 500;
	font-size: 2em;
    margin: 20px 0 10px 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__p{
    margin: 0 10px 0 10px;
}

.footer__img{
    max-width: 20px;
    max-height: 20px;
}


